body {
    height: 100vh;
    padding: 20px;
    background-color: #eee;
    color: whitesmoke;
}

.container {
    border: 1px solid red;
    min-height: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: pink;
}

.boxes {
    height: 100px;
    width: 100px;
    border: 1px solid yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    border-radius: 5px;
}
